            .box {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 0px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
                box-sizing: cover;
            }
            
            .box::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                right: 100%;
                transition: 1s;
            }
            
            .box:hover::before {
                /* height: 400px;
    width: 400px; */
                position: absolute;
                right: 0px;
                transition: 1s;
            }
            
            .box1 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 0px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box1::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                left: -100%;
                left: 50%;
            }
            
            .box1:hover::before {
                /* height: 400px;
    width: 400px; */
                position: absolute;
                left: 0px;
                transition: 1s;
            }
            
            .box2 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 0px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box2::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                left: -100%;
                right: 50%;
            }
            
            .box2:hover::before {
                /* height: 400px;
    width: 400px; */
                position: absolute;
                left: 80%;
                transition: 1s;
            }
            
            .box3 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 0px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box3::before {
                content: '';
                height: 0;
                width: 0;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                top: 50%;
                left: 50%;
            }
            
            .box3:hover::before {
                height: 200px;
                width: 200px;
                position: absolute;
                top: 0%;
                left: 0%;
                transition: 1s;
            }
            
            .box4 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box4::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                top: 100%;
                right: 100%;
            }
            
            .box4:hover::before {
                height: 200px;
                width: 200px;
                position: absolute;
                top: 0%;
                left: 0%;
                transition: 1s;
            }
            
            .box5 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box5::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                top: 100%;
                left: 100%;
            }
            
            .box5:hover::before {
                height: 200px;
                width: 200px;
                top: 0;
                left: 0;
                position: absolute;
                transition: 1s;
            }
            
            .box6 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box6::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                right: 100%;
                top: 100%;
            }
            
            .box6:hover::before {
                height: 200px;
                width: 200px;
                top: 0;
                right: 0;
            }
            
            .box7 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box7::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                left: 100%;
                bottom: 100%;
            }
            
            .box7:hover::before {
                height: 200px;
                width: 200px;
                left: 0;
                bottom: 0;
            }
            
            .box8 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box8::before {
                content: '';
                height: 200px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                right: 100%;
                bottom: 100%;
            }
            
            .box8:hover::before {
                height: 200px;
                width: 200px;
                right: 0;
                bottom: 0;
            }
            
            .box9 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box9::before {
                content: '';
                height: 50px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                bottom: 100%;
                right: 100%;
            }
            
            .box9:hover::before {
                /* height: 200px;
    width: 200px; */
                bottom: 0;
                right: 0%;
            }
            
            .box10 {
                height: 200px;
                width: 200px;
                background-color: blue;
                float: left;
                margin: 10px 50px;
                position: relative;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box10::before {
                content: '';
                height: 50px;
                width: 200px;
                background-color: rgba(0, 0, 0, 0.226);
                position: absolute;
                transition: 1s;
                bottom: -150px;
            }
            
            .box10:hover::before {
                height: 200px;
                width: 200px;
            }
            
            .box11 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box11::before {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                right: 100%;
                transition: 1s;
            }
            
            .box11:hover::before {
                border: 5px solid red;
                right: 0;
            }
            
            .box12 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box12::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                left: 100%;
                transition: 1s;
            }
            
            .box12:hover::after {
                border: 5px solid red;
                left: 0;
            }
            
            .box13 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box13::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                left: 100%;
                transition: 1s;
                border-left: none;
                border-right: none;
            }
            
            .box13:hover::after {
                border: 5px solid red;
                left: 0;
                border-left: none;
                border-right: none;
            }
            
            .box14 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box14::before {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                right: 100%;
                transition: 1s;
                border-left: none;
                border-right: none;
            }
            
            .box14:hover::before {
                border: 5px solid red;
                right: 0;
                border-left: none;
                border-right: none;
            }
            
            .box15 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box15::before {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                top: 100%;
                transition: 1s;
            }
            
            .box15:hover::before {
                border: 5px solid red;
                top: 0;
            }
            
            .box16 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box16::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                bottom: 100%;
                transition: 1s;
            }
            
            .box16:hover::after {
                border: 5px solid red;
                bottom: 0;
            }
            
            .box17 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box17::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                bottom: 100%;
                transition: 1s;
                border-top: none;
                border-bottom: none;
            }
            
            .box17:hover::after {
                border: 5px solid red;
                bottom: 0;
                border-top: none;
                border-bottom: none;
            }
            
            .box17::before {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                left: 100%;
                transition: 1s;
                border-left: none;
                border-right: none;
            }
            
            .box17:hover::before {
                border: 5px solid red;
                left: 0;
                border-left: none;
                border-right: none;
            }
            
            .box18 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box18::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                bottom: 100%;
                transition: 1s;
                border-top: none;
                border-right: none;
            }
            
            .box18:hover::after {
                border: 5px solid red;
                bottom: 0;
                border-top: none;
                border-right: none;
            }
            
            .box18::before {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                left: 100%;
                transition: 1s;
                border-left: none;
                border-bottom: none;
            }
            
            .box18:hover::before {
                border: 5px solid red;
                left: 0;
                border-left: none;
                border-bottom: none;
            }
            
            .box19 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box19::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                top: 100%;
                transition: 1s;
                border-top: none;
                border-right: none;
            }
            
            .box19:hover::after {
                border: 5px solid red;
                top: 0;
                border-top: none;
                border-right: none;
            }
            
            .box19::before {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                right: 100%;
                transition: 1s;
                border-left: none;
                border-bottom: none;
            }
            
            .box19:hover::before {
                border: 5px solid red;
                right: 0;
                border-left: none;
                border-bottom: none;
            }
            
            .box19 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box19::after {
                content: '';
                height: 200px;
                width: 200px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                top: 100%;
                transition: 1s;
                border-top: none;
                border-right: none;
            }
            
            .box19:hover::after {
                border: 5px solid red;
                top: 0;
                border-top: none;
                border-right: none;
            }
            
            .box20 {
                height: 200px;
                width: 200px;
                background-color: skyblue;
                float: left;
                margin: 10px 50px;
                position: relative;
                box-sizing: border-box;
                overflow: hidden;
                background-image: url(../img/IMG_5565-1024x683.jpg);
                background-position: center;
            }
            
            .box20::after {
                content: '';
                height: 200px;
                width: 100px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                left: 100%;
                transition: 1s;
            }
            
            .box20:hover::after {
                border: 5px solid red;
                left: 0;
            }
            
            .box20::before {
                content: '';
                height: 200px;
                width: 100px;
                border: 5px solid red;
                position: absolute;
                box-sizing: border-box;
                right: 100%;
                transition: 1s;
            }
            
            .box20:hover::before {
                border: 5px solid red;
                right: 0;
            }